@charset "utf-8";
/*基本設定*/
img{
    width:100%;
    height:auto;
}
*{
    margin:0;
}
ul{
    list-style: none;
}
a {
    text-decoration: none;
}
body{
    display: grid;
    grid-template-columns: 20px 150px 1fr 20px;
    grid-template-rows:
                [head] 100px
                [yoyakuop1] auto
                [yoyakuop2] auto
                [foot] 100px;
    row-gap: 10px;
    font-family: sans-serif;
    background-color: aliceblue;
}
body > * {
    grid-column: 2 / -2;
}
header{
    grid-row: head;
    grid-column: 1 / -1;
    background-color: #F9F9F9;
    width: 100%;
    border-top: solid 3px #364e96;/*上線*/
    border-bottom: solid 3px #364e96;/*下線*/
}

header a {
    display: block;
    text-align: center;
    padding-top: 21px;
    color: black;
    font-weight: bold;
    font-size: 30px;
    font-family: serif;
    text-shadow: 4px 1px 4px grey;
}
.menu-btn{
    grid-row: head;
    align-self: center;
    grid-column: 1;
    padding-left:8px;
    font-size: 1.4em;
    cursor: pointer;
}
nav{
    grid-column:1 / 3;
    grid-row: head/ span 4;
    background-color:#fff;
    z-index:20;
    display: none;
    
}
.closebtn{
    position: fixed;
    color:black;
    cursor: pointer;
    font-size:0.7em;
}
nav ul{
    line-height: 60px;
    padding-right: 14px;
    padding-left: 13px;
    text-align: center;
}
.list{
    display: inline-block;
    margin-bottom: 20px;
    padding-top:15px;
    
}
nav a{
    color:black;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}
nav a:hover{
    color:#ef9504;
}


h2{
    color:black;
    text-shadow: 1px 1px 1px gray;
    font-family: 'Homemade Apple', cursive;
    margin-bottom: 5px;
}
.menu{
    grid-row: yoyakuop1;
    text-align: center;
    border: 1px solid black;
}

.p{
    padding-left: 67px;
}
.form{
    grid-row:yoyakuop2;
    text-align: center;
}
.form_content{
    background-color: #ffffff;
    border-radius: 10px;
}
.form_content p {
    margin-bottom: 10px;
}
label {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
span{
    color: red;
    font-size: 13px;
}
select{
    width: 170px;
    height: 21px;
}
textarea {
    width: 170px;
    height:45px;
}
form {
    text-align: center;
}
input[type="reset"] {
    margin-left: 20px;
    margin-bottom: 8px;
}

footer{
    grid-row: foot;
    background-color: #F9F9F9;
    grid-column: 1 / -1;
    color: black;
    border-top: solid 3px #364e96;
    border-bottom: solid 3px #364e96;
}
footer p{
    padding-top: 25px;
    text-align: center;

}
/*PC版*/
@media(min-width:650px){
.menu img{
    max-width: 500px;
}
.menu-btn{
    font-size:28px;
}
}

